
/** Aurora Module **/
.AuroraTool {
  width: 185px;
  margin-top: 0px;
  margin-left: 2px;
  margin-bottom: 5px;
}
.AuroraTitle {
  color: #fff;
  padding: 5px 20px;
  background: url("/sites/default/files/App_Skin/aurora/title.gif") no-repeat 0 0;
}
.AuroraWhite {
  background: url("/sites/default/files/App_Skin/white75.png");
  width: 180px;
  float: right;
  margin: 15px 30px;
  padding: 10px;
  height: 350px;
  font-size: 14px;
  line-height: 20px;
  color: #b2480d;
  letter-spacing: 0px;
}
.AuroraWhite img {
  padding-right: 10px;
}
.AuroraTool .textForecast {
  margin: 126px 0pt 20px;
  line-height: 16px;
  font-size: 12px;
  color: rgb(0, 0, 0); 
}
